            <a class="btn btn-link text-primary" data-toggle="modal" data-target="#staticBackdrop{{ task.id }}">{{ task.name }}</a>
            <div class="modal fade" id="staticBackdrop{{ task.id }}" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="staticBackdropLabel{{ task.id}}" aria-hidden="true">
                <div class="modal-dialog  modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel{{ task.id }}">
                                Задача от руководителя <u> {{ task.author.username }}</u>: {{ task.name }} </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p> Что требуется сделать: {{ task.description }}</p>
                            <p> Задача создана {{ moment(task.created_on).format('LLL') }}</p>
                            <p> Дедлайн установлен на {{ moment(task.deadline).format('LLL') }}</p>
                            {% if task.requests %}
                            <hr>
                            {% for request in task.requests %}

                            <p> Заявка на исполнение № {{ request.id }} от {{ moment(request.executed_on).format('YYYY-MM-DD') }}:
                                {% if request.denied_on %} ОТКЛОНЕНА
                                {{ moment(request.denied_on).format('LLL') }}
                                <br> с комментарием: {{ request.boss_comment }}
                                {% elif request.considered_on and task.completed_on %} ПРИНЯТА {{ moment(task.completed_on).format('LLL') }}
                                <br> с комментарием: {{ request.boss_comment }}
                                {% if task.completed_on %} {% if task.executed_number %}
                                <br> № исполнения: {{ task.executed_number }} от {{ moment(request.date_of_execution).format('LL') }} {% endif %}
                                <br> Исполнитель: {{ task.executor.username }} {% endif %}</p>
                                {% else %} НА РАССМОТРЕНИИ {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>