<p> Привет, {{ user.username }}!</p>
<p> Ты успешно прошел регистрацию в сервисе по управлению задачами FleaderT!</p>
<p> Пароли в явном виде не хранятся, поэтому если ты забудешь свой пароль, то обратись к администратору.</p>
<br>
<p> Кстати, пройдя регистрацию на сервисе, ты соглашаешься с политикой обработки персональных данных в соответствии с ФЗ-152.</p>
<p> Политика проста: твои данные никуда не передаются и третьими лицами не обрабатываются </p>
<p> <b> Данный сервис должен использоваться только для учебных целей или для развертывания в локальном контуре внутри равноправной АСЗИ </b> </p>
<br>
<p> По всем вопросам обращаться на <a href="mailto:vgolosyandriya@yandex.ru"> почту </a></p>
