<p> Привет, {{ user.username }}!</p>
<p> Ты успешно прошел регистрацию в сервисе!</p>
<p> В нынешней версии проекта все оповещения пользователей завязаны на электронной почте, поэтому нужно эпизодически проверять свой почтовый ящик</p>
<p> Твоя почта: {{ user.email }}, ее нужно будет запомнить, ведь она является твоим логином. </p>
<p> Пароли в явном виде не хранятся, поэтому если ты забудешь свой пароль, то придётся обращаться к администратору.</p>
<p> Для просмотра списка твоих задач можешь перейти по <a href="{{ url_for('main.render_tasks_list', username=user.username) }}"> ссылке</a>.</p>
<p> Для просмотра личного кабинета нужно перейти по <a href="{{ url_for('main.render_user_page', username=user.username) }}"> ссылке</a>.</p>
<br>
<p> Кстати, пройдя регистрацию на сервисе, ты соглашаешься с политикой обработки персональных данных в соответствии с ФЗ-152.</p>
<p> Политика проста: не трогать базу данных!</p>

