<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title> FleaderT - {{ title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <style>
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 60px; /* Margin bottom by footer height */
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px; /* Set the fixed height of the footer here */
      line-height: 60px; /* Vertically center the text there */
    }
    .navbar {
      padding-top: 0;
      padding-bottom: 0;
    }
  </style>
</head>

<body>
  <header class="container-xl mt-3">
    <nav class="py-1 navbar navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li> <a href="{{ url_for('main.render_index') }}" class="h5 my-2 text-white bg-dark"> Главная </a> </li>
      </ul>
      {% if current_user.id %}
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown"> {{ current_user.username }} </button>
        <div class="dropdown-menu">
          <img src="{{ url_for('static', filename='avatars/' + current_user.avatar) }}" alt="avatar"
               class="rounded-circle mx-auto d-block dropdown-item">
          <a class="dropdown-item" href="{{ url_for('main.render_user', user_id=current_user.id) }}">
            Личный кабинет <span class="badge bg-dark text-white"> {% if current_user.is_boss %}
            {{ current_user.get_tasks_on_consider()|length }} {% else %}{{ current_user.non_executed_tasks|length }} {% endif %}</span> </a>
          {% if current_user.is_boss %}
          <a class="dropdown-item" href="{{ url_for('main.render_create_project') }}"> Создать проект </a>
          <a class="dropdown-item" href="{{ url_for('main.render_create_task') }}"> Создать задачу </a>
          {% endif %}
          <a class="dropdown-item" href="{{ url_for('main.render_tasks') }}"> Все задачи </a>
          <a class="dropdown-item" href="{{ url_for('main.render_projects') }}"> Проекты </a>
          <a class="dropdown-item" href="{{ url_for('main.render_users') }}"> Подразделение </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('main.render_edit_profile', user_id=current_user.id) }}" > Изменить данные </a>
          <a class="dropdown-item" href="{{ url_for('auth.logout') }}"> Выйти </a>
        </div>
      </div>
      {% endif %}
    </nav>
  </header>

  <main class="container-xl mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}
  </main>

  <footer class="footer">
    <nav class="container-xl navbar navbar-light bg-light mt-3">
      <ul class="navbar-nav mr-auto">
        <li class="h4 nav-link">Flask LeaderTask</li>
      </ul>
        <a class="mr-2" href="https://getbootstrap.com"> <img src="{{ url_for('static', filename='bootstrape.png') }}"
                                                              width="16" height="16" title="Powered by Bootstrap"> </a>
        <a class="mr-2"
           href="https://github.com/pallets/flask"> <img src="{{ url_for('static', filename='logo-flask.png') }}"
                                                         width="20" height="20" title="Powered by Flask"> </a>
        <a class="text-muted" href="https://github.com/PrudyvusP">PrudyvusP 2020-2021</a>
    </nav>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  {{ moment.include_moment() }}
  {{ moment.lang('ru') }}

</body>
</html>

  <!--
  FOR LOCAL
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <script src="/static/plotly/plotly.min.js" charset="utf-8"></script>
  <script src="/static/plotly/plotly-locale-ru.js"></script>
  <script>Plotly.setPlotConfig({locale: 'ru'})</script>
  <script src="/static/bootstrap/js/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script> -->