{% extends "base.html" %}
{% block content %}

<form action="" method="post">
    {{ form.csrf_token() }}
    <p class="h4"> Создать задачу </p>
    <div class="row mt-4">
        <div class="col-6">
            {{ form.project.label }}
            {{ form.project(class="custom-select custom-select-lg", size="6") }}
            {% if form.project.errors %}
            <div class="invalid-feedback">
                {% for error in form.project.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-4">
            {{ form.name.label }}
            {{ form.name(class="font-weight-bold form-control", placeholder="Краткая формулировка задачи") }}
            {% if form.name.errors %}
            {% for error in form.name.errors %}
            <span style="color:red;"> {{ error }}</span>
            {% endfor %}
            {% endif %}
            <div class="mt-2">
            {{ form.description.label }}
            {{ form.description(class="font-weight-bold form-control", placeholder="Подробное описание задачи и входные данные; Если исполнителей несколько, то нужно указать здесь кто обобщает", rows="3") }}
            {% if form.description.errors %}
            {% for error in form.description.errors %}
            <span style="color:red;"> {{ error }}</span>
            {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4">
            {{ form.deadline_date.label }}
            {{ form.deadline_date(class="font-weight-bold") }}  {{ form.deadline_time(class="font-weight-bold") }}
            {% if form.deadline_time.errors %}
            {% for error in form.deadline_time.errors %}
            <p> <span style="color:red;"> {{ error }}</span> </p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4">
            {{ form.priority.label }}
            {% for priority in form.priority %}
            {{ priority(class="font-weight-bold") }}
            {{ priority.label }}
            {% endfor %}
            {% if form.priority.errors %}
            {% for error in form.priority.errors %}
            <span style="color:red;"> {{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            {{ form.users.label }}
            {{ form.users(class="custom-select custom-select-lg", size="5") }}
            {% if form.users.errors %}
            <div class="invalid-feedback">
                {% for error in form.users.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.submit(class="mt-2 mb-5 btn btn-danger btn-block") }}
        </div>
    </div>
</form>
{% endblock %}

