{% extends "base.html" %}
{% block content %}
<p class="lead">Системы управления проектами являются неотъемлимой частью эффективного выстраивания рабочего процесса и представляют собой
комплексные решения, обладающие широким спектром инструментов для менеджмента.</p>
<p class="lead"> Подводным камнем при использовании таких средств может стать относительная сложность
    их <u>настройки</u>, <u>поддержки</u> и при необходимости <u>расширения функционала</u>.</p>
<p class="lead"> Решение Flask LeaderTask (FleaderT) - простой трекер задач, построенный на основе микро-фреймворка
    <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a> и расширений к нему. В первую очередь предназначен для ЛВС, не имеющих точку выхода в сеть Интернет.</p>
<p class="h3 ml-3">Ожидаемые результаты от использования</p>
<ul class="list-group list-group-flush h5">
    <li class="list-group-item"> Оптимизация рабочего времени &#9989;</li>
    <li class="list-group-item"> Контроль выполнения поручений &#9989;</li>
    <li class="list-group-item"> Учет деятельности &#9989;</li>
    <li class="list-group-item"> Планирование новых задач и проектов &#9989;</li>
    <li class="list-group-item"> Оценка эффективности деятельности &#9989; </li>
    <li class="list-group-item"> Повышение информационной грамотности &#9989; </li>
</ul>
{% if not current_user.id %}
<p class="h1 mt-3 text-center"> <a href="{{ url_for('auth.render_register') }}">Зарегистрироваться</a> и начать работу или <a href=" {{ url_for('auth.render_login') }}"> войти</a> в существующую учетку. </p>
{% endif %}
{% endblock %}