{% extends "base.html" %}

{% block content %}
<style> {% include 'subtemplates/tasks.css' %}</style>
<script src="/static/bootstrap/js/tablesort.min.js"></script>

{{ executed }}
{% if tasks_for_boss or tasks_for_user %}
{% if current_user.is_boss==True and current_user.username==user.username %}
<h1> Найдено активных задач в подразделении: {{ tasks_for_boss|length }} </h1>
{% else %}
<h1> Найдено активных задач: {{ tasks_for_user|length }} </h1>
{% endif %}
<table class="table table-hover table-sm text-center" id="table-id">
    <thead class="thead-dark">
    <tr>
        <th data-sort-method='none'> № п/п</th>
        <th> Название </th>
        <th> Приоритет </th>
        <th data-sort-method='none'> Дедлайн </th>
        <th> Логин исполнителя </th>
        <th> Статус задачи </th>
        <th> Проект </th>
        <th data-sort-method='none'> Осталось времени </th>
    </tr>
    </thead>

    {% if current_user.is_boss==True and current_user.username==user.username %}

    {% for task in tasks_for_boss %}
    <tr class="{% include 'subtemplates/_tr_color.html' %}">
    <td class="align-middle"> {{ loop.index }}. </td>
    <td class="rofl"> {% include 'subtemplates/_modal_task_td.html' %} </td>
    <td class="align-middle"> {{ task.priority }} </td>
    <td class="align-middle"> {{ moment(task.deadline).format('LLL') }}</td>
    <td class="align-middle"> {% for user in task.users %} <a href="{{ url_for('main.render_tasks_list', username=user.username) }}">
        {{ user.username }} </a> {% if task.users|length >1 %} <br/>{% endif %}{% endfor %} </td>
    <td class="align-middle"> {{ task.status }} {% if task.status == "на рассмотрении" %}
        <a href="{{ url_for('main.render_task_confirmation', task_id=task.id) }}">
            <img src="{{ url_for('static', filename='check.png') }}" width="16" height="16" title="Рассмотреть заявку"> </a>{% endif %} </td>
    <td class="align-middle"> <a href="{{ url_for('main.render_project', project_id=task.project.id) }}">{{ task.project.name }} </a></td>
    <td class="align-middle"> {{ task.deadline|timedelta }} </td>
    </tr>
    {% endfor %}

    {% else %}

    {% for task in tasks_for_user %}
    <tr class="{% include 'subtemplates/_tr_color.html' %}">
    <td class="align-middle"> {{ loop.index }}. </td>
    <td class="rofl"> {% include 'subtemplates/_modal_task_td.html' %} </td>
    <td class="align-middle"> {{ task.priority }} </td>
    <td class="align-middle"> {{ moment(task.deadline).format('LLL') }}</td>
    <td class="align-middle"> {% for user in task.users %} <a href="{{ url_for('main.render_user_page', username=user.username) }}">
        {{ user.username }} </a> {% if task.users|length >1 %} <br/>{% endif %}{% endfor %} </td>
    <td class="align-middle"> {{ task.status }} {% if task.status == "в работе" and current_user.is_boss==False %}
        <a href="{{ url_for('main.render_task_execution', username=user.username, task_id=task.id) }}">
            <img src="{{ url_for('static', filename='pencil.png') }}" width="16" height="16" title="Отправить заявку на исполнение">
        </a>{% endif %} </td>
        <td class="align-middle"> <a href="{{ url_for('main.render_project', project_id=task.project.id) }}">{{ task.project.name }} </a></td>
        <td class="align-middle"> {{ task.deadline|timedelta }} </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% if current_user.is_boss==True and current_user.username==user.username %}
{% autoescape off %}
{{ gannt_fig }}
{{ timeline_fig }}
{% endautoescape %}
{% endif %}

<script>
  new Tablesort(document.getElementById('table-id'));
</script>
  {% else %}
  <div class="text-center pt-4">
      {% if current_user.is_boss != True  %}
      <h1 class="display-4"> Задач еще не поступало:) </h1>
        {% elif current_user.is_boss==True  %}
      <h1 class="display-4"> Нет созданных или активных задач. <br>
        Для создания задачи перейди по <a href="{{ url_for('main.render_create_task') }}"> ссылке</a>.<br>
      При этом должен быть создан хотя бы один <a href="{{ url_for('main.render_create_project') }}"> проект</a>.</h1>
      {% endif %}
  {% endif %}
{% endblock %}


