{% extends "base.html" %}

{% block content %}
    <div class="row mt-4">
        <div class="col-4">
          <div class="card mt-3">
            <div class="row no-gutters">
              <div class="col-md-4"> <img class ="card-img" src="{{ url_for('static', filename=user.avatar) }}"> </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ user.username }} </h5>
                  {% if user.name or user.phone %} <p class="card-text"> <b> {{ user.name }} </b> {{ user.phone }}</p> {% endif %}
                  <p class="card-text">На сайте с {{ moment(user.created_on).format('LLL') }}</p>
                  <p class="card-text"><small class="text-muted">Был в сети {{ moment(user.last_seen).fromNow(refresh=True) }} </small></p>
                  {% if user.is_boss!=True %}
                  <span class="badge badge-pill badge-success">пользователь</span>
                  {% else %}
                  <span class="badge badge-pill badge-dark">руководство</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% if user.username == current_user.username %}
          <a class="mt-3 btn btn-outline-dark" href="{{ url_for('main.render_edit_profile', user_id=current_user.id) }}"
             role="button">Изменить данные профиля</a>
          {% endif %}
        </div>
      {% if user.is_boss != True %}
      <div class="col-8">
        {% if user.executed_tasks %}
        <h4 class="mt-3">Выполненные задачи</h4>
        <table class="table">
          {% for task in user.executed_tasks %}
          <tr>
            <th scope="row">{{ task.name }}</th>
            <td></td>
            <td>{{ task.project.name }}</td>
            <td>{{ moment(task.completed_on).format('LLL') }}</td>
          </tr>
          {% endfor %}
        </table>
        <hr>
        <h1 class="text-danger my-2">Задач выполнено: {{ user.executed_tasks|length }} </h1>
        {% endif %}
      </div>
      {% endif %}
    </div>
{% endblock %}